.chart-01-label li {
  cursor: pointer;
}

.theme-a .widget-chart-01 {
  margin-top: -25px !important;
}

.theme-a .widget-chart-01 .chart-01 {
  right: 10px !important;
}

.chart-01.l-type2 {
  right: 20px;
}