@charset "utf-8";

/* ===============================================
Date : 2016-09-01
Description : 레이아웃/컴포넌트/그리드/위젯
=============================================== */


/* layout */
.wrapper {width:100%;height:100%;position:fixed;left:0;top:0;overflow:auto;}
.main-bg span {display:inline-block;position:absolute;width:50%;z-index:0;}
.main-bg .lt {height:40px;background:#a8cee5;left:0;top:0;}
.main-bg .lb {height:80px;background:#0c99c9;left:0;top:40px;}
.main-bg .rt {height:40px;background:#dadada;right:0;top:0;}
.main-bg .rb {height:80px;background:#b3b3b4;right:0;top:40px;}
.main-header {position:relative;z-index:10;}
.main-header-inner {position:relative;width:1180px;height:120px;margin:0 auto;}
.content-wrapper {width:1200px;margin:0 auto;padding:40px 0;}
.content-inner {min-height: 250px;margin-right: auto;margin-left: auto;padding-left: 10px;padding-right: 10px;}


/* logo area */
.logo-area {width:280px;float:left;position:relative;z-index:1;}
.logo-area .logo-wrap {height:40px;line-height:38px;background:#a8cee5;}
.logo-area .logo-wrap2 {height:80px;line-height:75px;background:#0c99c9;}


/* navigation */
.gnb-area .top-menu {height:40px;background:#dadada;}
.gnb-area .top-menu > ul {float:right;margin-top:14px;}
.gnb-area .top-menu .dropdown {float:left;background:url(../images/bg_bar.gif) left 2px no-repeat;padding-left:15px;margin-left:14px;}
.gnb-area .top-menu .dropdown:first-child {background:none;}
.gnb-area .top-menu .dropdown.filter-menu .dropdown-toggle {width:16px;height:14px;background:url(../images/ico_filter.png) center center no-repeat;text-indent:-9999px;}
.gnb-area .top-menu .dropdown.basic-menu .dropdown-toggle {font-size:13px;background:url(../images/arrow1.png) right 4px no-repeat;padding-right:12px;}
.gnb-area .top-menu .dropdown-menu {min-width:220px;border:1px solid #0c99c9;border-radius:5px;background:#fff;padding:0 20px;}
.gnb-area .top-menu .dropdown-menu .top-txt-filter {position:relative;padding:10px 0 10px 23px;border-top:1px solid #99cbea;line-height:1.4;}
.gnb-area .top-menu .dropdown-menu .top-txt-filter:first-child {border:none;}
.gnb-area .top-menu .dropdown-menu .top-txt-filter:before {content:"";display:inline-block;width:16px;height:14px;background:url(../images/ico_filter.png) left top no-repeat;position:absolute;left:2px;top:13px;opacity:0.6;}
.gnb-area .top-menu .dropdown-menu .top-func-area {padding:10px 0;text-align:right;}
.gnb-area .top-menu .dropdown-menu .top-func-area a:first-child {float:left;}
.gnb-area .top-menu .dropdown-menu .top-func-area a {color:#0c99c9;font-size:12px;}
.gnb-area .top-menu .dropdown.filter-menu .dropdown-menu {left:-90px;}
.gnb-area .top-menu .dropdown.basic-menu .dropdown-menu {min-width:120px;padding:0;left:auto;right:0;}
.gnb-area .top-menu .dropdown.basic-menu .dropdown-menu > li > a {padding:5px 10px;font-size:13px;}
.gnb-area .top-menu .dropdown.basic-menu .dropdown-menu > li > a:hover {border-radius:5px;}

.gnb-area .gnb {height:80px;background:#b3b3b4;padding-left:280px;}
.gnb-area .gnb .dep1 {position:relative;}
.gnb-area .gnb .dep1 > li {float:left;padding:20px 17px 0 18px;height:50px;background:url(../images/bg_bar.gif) left 24px no-repeat;}
.gnb-area .gnb .dep1 > li:first-child {background-image:none;}
.gnb-area .gnb .dep1 > li > a {font-size:16px;}
.gnb-area .gnb .dep1 > li > a:hover {color:#0c99c9;}
.gnb-area .gnb .dep1 > li.active > a {color:#fff;}
.gnb-area .gnb .dep1 > li.active .dep2 {display:block;}
.gnb-area .gnb .dep2 {display:none;position:absolute;left:3px; top:50px;}
.gnb-area .gnb .dep2 > li {float:left;padding:0 11px 0 15px;height:30px;background:url(../images/bg_dot.png) left 5px no-repeat;font-size:13px;}
.gnb-area .gnb .dep2 > li:first-child {background-image:none;}
.gnb-area .gnb .dep2 > li > a:hover {color:#0c99c9;}
.gnb-area .gnb .dep2 > li > a.active {color:#fff;}


/* [bootstrap] grid system customizing : col-md-* 클래스만 사용 : 반응형 적용 안함 */
.row {margin-left: -10px;margin-right: -10px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left: 10px;padding-right: 10px;height:100%;}
.row + .row {margin-top:70px;} /* 기본 row 간격 */
.row .row + .row {margin-top:54px;} /* 그리드 안에서 row가 상하로 나눠질 때 간격 */


/* 검색필터 설정 */
.filter-reset {float:left;}
.filter-reset a {font-size:14px;font-family:"notokr-bold";color:#49b3df;padding:8px 0 5px 0;border-bottom:1px solid #49b3df;}
.filter-wrap:after {content:" ";display:block;clear:both;}
.filter-wrap .filter-navi {float:left;width:180px;height:490px;background:#f3f3f3;padding:0 20px 0 0;}
.filter-wrap .filter-navi .title1 {font-size:15px;font-family:"notokr-bold";color:#000;height:33px;padding:10px 0 0 10px;border-bottom:1px solid #000;}
.filter-wrap .filter-navi .nav-tabs {border:none;padding-top:7px}
.filter-wrap .filter-navi .nav-tabs > li {float:none;margin:0;padding:5px 0;}
.filter-wrap .filter-navi .nav-tabs > li > a {margin:0;padding:0 0 0 20px;border:none;border-radius:0;font-size:13px;font-family:"notokr-bold";color:#666;height:30px;line-height:30px;}
.filter-wrap .filter-navi .nav-tabs > li > a:after {display:inline-block;content:"";position:absolute;right:-40px;top:0;display:none;
    width:40px;height:30px;
    border-top: 15px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid #0b99c8;
}
.filter-wrap .filter-navi .nav-tabs > li:hover > a {color:#fff;background-color:#0b99c8;}
.filter-wrap .filter-navi .nav-tabs > li:hover > a:after {display:inline-block;}
.filter-wrap .filter-navi .nav-tabs > li.active > a,
.filter-wrap .filter-navi .nav-tabs > li.active > a:hover,
.filter-wrap .filter-navi .nav-tabs > li.active > a:focus {color:#fff;border:none;background-color:#0b99c8;}
.filter-wrap .filter-navi .nav-tabs > li.active > a:after,
.filter-wrap .filter-navi .nav-tabs > li.active > a:hover:after,
.filter-wrap .filter-navi .nav-tabs > li.active > a:focus:after {display:inline-block;}

.filter-wrap .filter-content {padding-left:200px;}
.filter-wrap .filter-content .title1 {font-size:15px;font-family:"notokr-bold";color:#0c99c9;height:33px;padding:10px 0 0 0;border-bottom:2px solid #0c99c9;}
.filter-wrap .filter-content .title2 {font-size:13px;font-family:"notokr-bold";color:#333;height:40px;padding:20px 0 0 0;border-bottom:1px solid #0c99c9;}
.filter-wrap .filter-content .innerbox {background:#f9f9f9;height:417px;}
.filter-wrap .filter-content .innerbox.small {height:181px;}

/* 조직/상담 */
.filter-organization .header-area {padding:20px 20px 0 20px;height:65px;position:relative;}
.filter-organization .btn-group {position:absolute;right:0;top:-25px;}
.filter-organization .btn-group .btn {margin-left:10px;}
.filter-organization .btn-group .btn:first-child {margin-left:0;}
.filter-organization .select-area > li {position:relative;margin-bottom:6px;}
.filter-organization .select-area > li .styled-select {width:100%;}
.filter-organization .select-area > li .form-control {width:100%;height:25px;border-radius:15px;border-color:#d2d2d2;}
.filter-organization .select-area > li.search-box button {position:absolute;right:10px;top:5px;color:#d2d2d2;border:none;background:none;font-size:12px;}
.filter-organization .tree-list {height:352px;}

/* 좌우 선택 UI */
.select-ui {position:relative;}
.select-ui .list-left {padding-right:25px;}
.select-ui .list-right {padding-left:25px;}
.select-ui .list-left2 {padding-right:30px;margin-right:-30px;}
.select-ui .list-right2 {margin-left:30px;}
.select-ui .btn-area {position:absolute;left:50%;top:50%;margin:-38px 0 0 -12px;}
.select-ui .btn-area .btn-img-select {display:block;margin:10px 0;}
.select-ui .btn-area.typ2 {left:64%;}
.select-ui .scroll-y {overflow-y:auto;}
.select-ui .tree-list {padding:6px 0;}

/* 필터설정 레이아웃 테이블 */
.filter-table {padding:8px 0;}
.filter-table th {width:130px;height:40px;vertical-align: top;padding:14px 0 0 20px;}
.filter-table th,
.filter-table th label {font-size:12px;font-family:"notokr-bold";}
.filter-table td {padding:8px 0;}
.filter-table td .form-control {display:inline-block;width:150px;}
.filter-table td .form-control.time {width:90px;}
.filter-table td .form-control.ui-spinner-input {width:126px;}
.filter-table td .datepicker-wrap p + p {margin-top:6px;}
.filter-table th.middle {vertical-align:middle;padding-top:0;}
.filter-table td.middle {vertical-align:middle;}


/* 에러 페이지 */
.error-wrap {display:table;width:100%;height:100%;}
.error-wrap .error-in {display:table-cell;width:auto;text-align:center;vertical-align: middle;}
.error-con {width:auto;margin:30px auto;}
.error-con td {text-align:left;}
.error-con .error-msg {font-size:26px;font-family:"notokr-bold";height:42px;line-height:42px;background:url(../images/ico_attention.png) left top no-repeat;padding:0 0 0 60px;}
.error-con .error-msg strong {color:#0c99c9;}
.error-con .error-msg-s {font-size:18px;color:#666;line-height:1.8;padding:10px 0 0 62px;}

/* 로딩 페이지 */
.error-con .loading-msg {font-size:26px;font-family:"notokr-bold";height:42px;line-height:42px;background:url(../images/radio.svg) left top no-repeat;padding:0 0 0 60px;}
.error-con .loading-msg strong {color:#0c99c9;}
.error-con .loading-msg-s {font-size:18px;color:#666;line-height:1.8;padding:10px 0 0 62px;}

/* paginate */
.lucis-paginate {padding-top:10px;float:right;}
.lucis-paginate li {float:left;border:none;font-size:11px;}
.lucis-paginate li a {
box-sizing: border-box;display: inline-block;min-width: 1.5em;padding: 0.5em 1em;margin-left: 2px;text-align: center;text-decoration: none !important;cursor: pointer;*cursor: hand;color: #333 !important;border: 1px solid transparent;border-radius: 2px;}
.lucis-paginate li:hover a,
.lucis-paginate li.selected a {background:#0c99c9;color:#fff !important;}
.lucis-paginate li.previous a {text-indent:-9999px;background:url(../images/icon_paging_left_over.png) center center no-repeat;}
.lucis-paginate li.next a {text-indent:-9999px;background:url(../images/icon_paging_right_over.png) center center no-repeat;}
.lucis-paginate li.previous:hover a {background-image:url(../images/icon_paging_left_over.png);}
.lucis-paginate li.next:hover a {background-image:url(../images/icon_paging_right_over.png);}
.lucis-paginate li.previous.disabled a {background-image:url(../images/icon_paging_left.png);cursor:default;}
.lucis-paginate li.next.disabled a {background-image:url(../images/icon_paging_right.png);cursor:default;}


/* 아이콘 버튼 */
.btn-tool {font-size:14px;color:#0c99c9;padding:0 0 0 25px;height:19px;line-height:19px;background:none;border:none;}
.btn-plus {background:url(../images/ico_plus.png) left top no-repeat;}
.btn-file {background:url(../images/ico_file.png) left top no-repeat;}
.btn-search {background:url(../images/ico_search.png) left top no-repeat;}
.btn-tool + .btn-tool {margin-left:15px;}


/* [bootstrap] modal customizing */
.modal-content {border-radius:0;border:5px solid #b8b8b8;}
.modal-header {background:#49b3df;height:45px;padding:0 20px;}
.modal-title {font-size:18px;font-family:"notokr-bold";color:#fff;padding-top:8px;}
.modal-header .close {font-size:30px;font-family:"notokr-bold";color:#fff;opacity:1;margin-top:2px;}
.modal-body {padding:30px 20px 15px 20px;}
.modal-footer {height:55px;background:#f7f7f7;padding:14px 20px 0 20px;border-top:none;}

.modal .row + .row,
.modal .row .row + .row {margin-top:15px;}
.modal .tbl-title {height:25px;font-size:14px;color:#000;background:url(../images/bul_arrow2.png) left 5px no-repeat;padding:0 0 0 20px;}


/* [bootstrap] button customizing */
.btn {font-size:14px;color:#6a6c6a;font-family:"notokr-bold";padding:0 10px;height:30px;line-height:28px;}
.btn.btn-modal {width:90px;}
.btn-primary {color:#fff;}
.btn-default {border-color:#c9c9c9;box-shadow: 1px 1px 1px rgba(0,0,0,0.2), -1px -1px 1px rgba(0,0,0,0.2);background:url(../images/bg_button_gradient.png) left bottom repeat-x;}

.btn-img-select {text-indent:-9999px;width:23px;height:23px;background:url(../images/btn_select_arrow.png) left top no-repeat;border:none;}
.btn-img-select.left {background-position:left bottom;}
.btn-img-select.right {background-position:left top;}

.btn.btn-img-organization {padding:0;text-indent:-9999px;width:20px;height:20px;background:url(../images/ico_organization.png) -20px 0 no-repeat;}
.btn.btn-img-organization:active,
.btn.btn-img-organization.active {box-shadow:none;outline:none;background-position:-20px -20px;}
.btn.btn-img-list {padding:0;text-indent:-9999px;width:20px;height:20px;background:url(../images/ico_organization.png) 0 0 no-repeat;}
.btn.btn-img-list:active,
.btn.btn-img-list.active {box-shadow:none;outline:none;background-position:0 -20px;}
.btn.btn-img-user {padding:0;text-indent:-9999px;width:28px;height:20px;background:url(../images/ico_organization.png) -40px 0 no-repeat;}
.btn.btn-img-user:active,
.btn.btn-img-user.active {box-shadow:none;outline:none;background-position:-40px -20px;}


/* [bootstrap] form-control customizing : input, select, textarea, radio, checkbox */
.form-control {box-sizing:border-box;border:1px solid #d2d2d2;border-radius:4px;padding:0 10px;height:25px;line-height:25px;background:#fff;width:100%;font-size:11px;box-shadow:none;}
.form-control:focus {box-shadow: none;}
textarea.form-control {height:auto;line-height:1.4;padding:10px;}
.radio-inline, .checkbox-inline {font-size:11px;}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {width:13px;height:13px;margin-top:0;margin-top: 0 \9;}

select.form-control {padding:0 0 0 10px;}
.styled-select {margin-bottom:0;}
.styled-select select {-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;}
.styled-select select::-ms-expand {display:none;}
.styled-select {display:inline-block;position:relative;}
.styled-select:after {display:inline-block;content:"";width:6px;height:5px;background:#fff url(../images/bg_selectbox_arr.png) center center no-repeat;position:absolute;right:10px;top:11px;}

.switch-checkbox {cursor:pointer;margin:0;height:21px;}
.switch-checkbox .switch {position:relative;overflow:hidden;width:50px;height:21px;border-radius:10px;color:#fff;background:#ccc;transition:all 0.4s;}
.switch-checkbox .switch em {position:absolute;left:3px;top:3px;width:15px;height:15px;border-radius:15px;background:#fff;transition:all 0.4s;}
.switch-checkbox .switch em:before {content:"ON";position:relative;right:22px;top:2px;}
.switch-checkbox .switch em:after {content:"OFF";position:relative;left:1px;top:2px;}
.switch-checkbox input[type=checkbox] {opacity:0;width:0;height:0;}
.switch-checkbox input[type=checkbox]:checked + .switch {background:#49b3df;}
.switch-checkbox input[type=checkbox]:checked + .switch em {left:32px;}



/* datepicker customizing */
.datepicker.dropdown-menu {border-color:#d2d2d2;border-radius:0;padding:0;min-width:140px;}
.datepicker.dropdown-menu td {padding: 0;}
.datepicker .table-condensed > thead > tr > th {font-size:10px;color:#444;}
.datepicker .table-condensed > thead > tr > th.prev,
.datepicker .table-condensed > thead > tr > th.next,
.datepicker .table-condensed > thead > tr > th.datepicker-switch {background:#0c99c9;color:#fff;font-size:11px;border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;}
.datepicker .table-condensed > thead > tr > th.prev {background:#0c99c9 url(../images/btn_datepicker_prev.png) center center no-repeat;text-indent:-9999px;}
.datepicker .table-condensed > thead > tr > th.next {background:#0c99c9 url(../images/btn_datepicker_next.png) center center no-repeat;text-indent:-9999px;}
.datepicker .table-condensed td {font-size:10px;color:#444;}
.datepicker .table-condensed td,
.datepicker .table-condensed th {width: 15px;height: 15px;border-radius: 0;}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {background: #fff;outline: 1px solid #0c99c9;}

.datepicker-wrap .date {background:#fff url(../images/ico_calendar.png) right center no-repeat;}


/* timerpicker customizing */
.ui-timepicker-list li {color: #a09f9f;font-size:11px;}
li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {background: #b2e9fc; color: #606060;}


/* spinner customizing */
.ui-widget.ui-widget-content {border-color:#d2d2d2;box-shadow:none;}
input.ui-spinner-input {border:none;border-radius:0;box-shadow: none;background:none;margin:0;margin-right: 22px;font-size:11px;height:23px;line-height:23px;}
.ui-spinner .ui-spinner-button {width:22px;border:1px solid #d2d2d2;cursor:pointer;}
.ui-spinner .ui-spinner-button:active {background-color:#eee;}
.ui-spinner .ui-spinner-up {background: url(../images/btn_spinner_up.png) center center no-repeat;}
.ui-spinner .ui-spinner-down {background: url(../images/btn_spinner_down.png) center center no-repeat;}


/* jqtree customizing */
ul.jqtree-tree ul.jqtree_common {margin-left:0;}
ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {background:#b2e9fc;}
ul.jqtree-tree .jqtree-element {width:100%;height:30px;line-height:28px;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;text-overflow:ellipsis;word-wrap:normal;}
ul.jqtree-tree .jqtree-element:hover {background:#eee;}
ul.jqtree-tree .jqtree-title {display:inline;color:#333;font-family:"notokr-bold";font-size:13px;}
ul.jqtree-tree .jqtree-title:active,
ul.jqtree-tree .jqtree-title:focus {outline:none;}
ul.jqtree-tree .jqtree-title.jqtree-title-folder {margin-left:20px;}
ul.jqtree-tree .jqtree-toggler {text-indent:-9999px;width:13px;height:13px;background:url(../images/ico_fold.png) left bottom no-repeat;}
ul.jqtree-tree .jqtree-toggler.jqtree-toggler-right {position:absolute;right:10px;top:9px;margin:0;}
ul.jqtree-tree > li.jqtree-folder > ul.jqtree_common .jqtree-element {padding-left:20px;}/* 2depth */
ul.jqtree-tree > li.jqtree-folder > ul.jqtree_common > li.jqtree-folder > ul.jqtree_common .jqtree-element {padding-left:40px;}/* 3depth */
ul.jqtree-tree > li.jqtree-folder > ul.jqtree_common > li.jqtree-folder > ul.jqtree_common > li.jqtree-folder > ul.jqtree_common .jqtree-element {padding-left:60px;}/* 4depth */

.ico-user ul.jqtree-tree .jqtree-title {background:url(../images/ico_person.png) left center no-repeat;padding-left:20px;}
.ico-user ul.jqtree-tree .jqtree-title.jqtree-title-folder {background:url(../images/ico_organization2.png) left center no-repeat;margin-left:20px;}
.ico-user ul.jqtree-tree li.jqtree-folder {margin-bottom:0;}



/* designed customizing : scrollbar, selectbox, radio */

    /* designed scrollbar */
    .mCustomScrollbar {overflow:auto;}
    .mCSB_inside > .mCSB_container {margin-right:10px;}
    .mCSB_scrollTools {width:10px;opacity:1;}
    .mCSB_scrollTools .mCSB_draggerRail {background-color: #bfbfbf;width:10px;border-radius:0;}
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: #0d99ca;width:10px;border-radius:0;}
    .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
    .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {background-color: #0d99ca;}
    .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {background-color: #bfbfbf;opacity:1;background-image: url(../images/bg_scrollbar_arrow.png);}
    .mCSB_scrollTools .mCSB_buttonUp:hover, .mCSB_scrollTools .mCSB_buttonDown:hover, .mCSB_scrollTools .mCSB_buttonLeft:hover, .mCSB_scrollTools .mCSB_buttonRight:hover {opacity:1;}
    .mCSB_scrollTools .mCSB_buttonUp {background-position: center top;}
    .mCSB_scrollTools .mCSB_buttonDown {background-position: center bottom;}

    .slimScrollbar .mCSB_scrollTools {width:5px;}
    .slimScrollbar .mCSB_scrollTools .mCSB_draggerRail {background-color: #f7f7f7;width:5px;}
    .slimScrollbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width:5px;}


    /* designed select box */
    .jqTransformSelectWrapper {border:1px solid #d2d2d2;border-radius:4px;padding-left:10px;height:25px;background: none;background-color:#fff;}
    .jqTransformSelectWrapper div span {font-size:11px;line-height:23px;height:25px;padding: 0;}
    .jqTransformSelectWrapper a.jqTransformSelectOpen {width: 20px;height: 25px;background: url(../images/bg_selectbox_arr.png) no-repeat center center;}
    .jqTransformSelectWrapper ul {top:25px;}
    .jqTransformSelectWrapper ul a {padding: 3px 10px;font-size: 11px;}

    /* designed radio, checkbox... */
    .jqTransformRadioWrapper {float:none;display:inline-block;vertical-align: middle;margin:0 9px 0 0;}
    .jqTransformRadio {background: transparent url(../images/radio.png) no-repeat center top;height: 9px;width: 9px;}
    .jqtransformdone label {font-size:11px;font-weight: normal;margin:0;color:#333;}



/* ===============================================
 * 사용자등록/로그인/회원가입 등.
 * ============================================= */

/* input 3개(기본) */
.login-wrapper {position:absolute;width:100%;left:0;top:50%;margin-top:-185px;}
.login-wrapper .login-notice {width:100%;height:35px;position:absolute;left:0;top:-35px;text-align:center;}
.login-wrapper .login-notice span {font-size:14px;color:#c90c0c;padding:4px 0 0 30px;height:22px;background:url(../images/login/ico_attention.png) left top no-repeat;}
.login-wrapper .login-form {border-top:1px solid #6dc2df;background:#0c99c9;height:310px;}
.login-wrapper .login-form h1 {font-size:23px;font-family:"notokr-bold";text-align:center;height:120px;padding-top:65px;color:#fff;}
.login-wrapper .login-form .form-area {position:relative;width:550px;margin:0 auto;}
.login-wrapper .login-form .form-area ul {position:relative;z-index:1;width:100%;border-radius:10px;background:#64c1e0;padding:8px 3px;box-shadow: 1px 1px 5px rgba(0,0,0,0.2), -1px -1px 5px rgba(0,0,0,0.2);}
.login-wrapper .login-form .form-area ul li {float:left;padding:0 5px;width:50%;}
.login-wrapper .login-form .form-area ul li input {border:none;border-radius:6px;font-size:20px;padding:0 20px;width:100%;height:65px;line-height:65px;background:#fff;box-shadow:inset 0 3px 5px rgba(0,0,0,0.2);}
.login-wrapper .login-form .form-area .btn-submit-go {border:none;width:54px;height:54px;text-align:center;line-height:54px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;background:#66cc33;position:absolute;right:-54px;top:12px;z-index:0;font-size:18px;font-family:"notokr-bold";color:#fff;}
.login-wrapper .login-form .form-link {width:550px;margin:0 auto;padding:10px 8px 0 10px;}
.login-wrapper .login-form .form-link a {font-size:14px;color:#acd4e8;height:20px;border-bottom:1px solid #66badb;float:right;}
.login-wrapper .login-form .form-link a:first-child {float:left;}
.login-wrapper .login-bottom {border-top:1px solid #b7bfc2;background:#b1b4b6;height:60px;}

/* input 1개 */
.login-wrapper .login-form.input-1 .form-area ul li {width:100%;}

/* input 4개 */
.login-wrapper .login-form.input-4 .form-area,
.login-wrapper .login-form.input-4 .form-link {width:900px;}
.login-wrapper .login-form.input-4 .form-area ul li {width:25%;}



/* ===============================================
 * 프로젝트 선택
 * ============================================= */
.project-list-wrapper {position:absolute;width:100%;left:0;top:50%;margin-top:-310px;}
.project-list-body {border-top:1px solid #6dc2df;background:#0c99c9;padding:20px 0;}
.project-list-title {width:100%;text-align:center;font-size:28px;color:#fff;padding-bottom:20px;}
.project-list-foot {border-top:1px solid #b7bfc2;background:#b1b4b6;height:60px;}
.project-list-layout {width:auto;max-width:1200px;margin:0 auto;}
.project-list-wrap {padding:15px 10px;width:auto;max-height:470px;overflow-y:auto;border-radius:10px;background:#64c1e0;box-shadow: 1px 1px 5px rgba(0,0,0,0.2), -1px -1px 5px rgba(0,0,0,0.2);}
.project-list:after {content:" ";display:block;clear:both;}
.project-list:hover,
.project-list:hover label {cursor:pointer;}
.project-list {margin:5px;padding:10px;position:relative;width:378px;float:left;border-radius:6px;background:#fff;box-shadow:1px 1px 5px rgba(0,0,0,0.2);transition:all .4s;}
.project-list .thumbnail-area {float:left;width:160px;height:190px;line-height:186px;border:1px solid #d9d9d9;overflow:hidden;}
.project-list .thumbnail-area label.input-file-label {width:100%;height:100%;background:#d9d9d9 url(../images/ico_plus_big.png) center center no-repeat;}
.project-list .thumbnail-area label.input-file-label .img-area {width:100%;height:100%;}
.project-list .info-area {padding:45px 0 0 160px;}
.project-list .info-area dl {padding:5px 0;}
.project-list .info-area dt {font-size:13px;color:#000;text-align:right;float:left;width:80px;} 
.project-list .info-area dd {padding-left:90px;}
.project-list .btn-go {position:absolute;right:0;bottom:15px;}