@charset "utf-8";

/* ===============================================
Date : 2016-09-01
Description : IE9 전용 스타일
=============================================== */


.js-placeholder {display:inline-block;position:absolute;left:10px;top:7px;font-size:11px;font-weight:normal;font-family:"맑은 고딕";color:#d2d2d2;}
.widget-head-search .search-area .js-placeholder {top:4px;font-size:10px;}

.form-control {border-radius:0;}
.styled-select:after {width:20px;height:23px;right:1px;top:1px;}
.search-table td .styled-select:after {width:25px;height:25px;}


.login-wrapper .js-placeholder {display:inline-block;position:absolute;left:10px;top:7px;color:#666;}
.login-wrapper .login-form .form-area ul li .js-placeholder {font-size:20px;color:#a7abad;left:20px;top:25px;}